183DASimul/controllers/frisbee_controller/FrisPy/__pycache__/__init__.cpython-37.pyc
183DASimul/controllers/frisbee_controller/FrisPy/__pycache__/coefficient_model.cpython-37.pyc
183DASimul/controllers/frisbee_controller/FrisPy/__pycache__/disc.cpython-37.pyc
183DASimul/controllers/altino_controller/__pycache__/altino.cpython-37.pyc
183DASimul/controllers/altino_controller/__pycache__/camera_detection.cpython-37.pyc