183DASimul/controllers/frisbee_controller/FrisPy/__pycache__/__init__.cpython-37.pyc
183DASimul/controllers/frisbee_controller/FrisPy/__pycache__/coefficient_model.cpython-37.pyc
183DASimul/controllers/frisbee_controller/FrisPy/__pycache__/disc.cpython-37.pyc
183DASimul/controllers/altino_controller/__pycache__/altino.cpython-37.pyc
183DASimul/controllers/altino_controller/__pycache__/camera_detection.cpython-37.pyc
FrisPy3/midpoint3.txt
FrisPy3/midpoint4.txt
FrisPy3/midpoint5.txt
FrisPy3/test2.txt
FrisPy3/test3.txt
FrisPy3/test4.txt
FrisPy3/test5.txt
FrisPy3/trajectory.csv
FrisPy3/trajectory1.csv
FrisPy3/trajectory2.csv
FrisPy3/trajectory3.csv
FrisPy3/trajectory4.csv
FrisPy3/trajectory5.csv
183DASimul/controllers/altino_controller/gps_log.csv
FrisPy3/test2.txt
